body{
    max-width: 90pc;
    margin: 0 auto;
    font-size: 1.6rem;
    scroll-behavior: smooth;
    display: block;
    line-height: 1.5;
    background-color: ghostwhite;
}
nav {
    margin: 50px 0;
    background-color: lightgray;
}
#flag{
    max-height: 60px;
    max-width: 120px;
}
nav img{
    width: 200px;
    height: 60px;
    object-fit: none;
    object-position: -10px -110px;
    display: inline-block;
}
nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    display: inline-block;
}

nav ul li {
    display:inline-block;
    background-color: lightgray;
}

nav a {
    display:block;
    padding:0 10px;
    color:#1a1a1a;
    font-size:20px;
    line-height: 60px;
    text-decoration:none;
}

nav a:hover {
    color: #00205b;
    font-weight: bold;


}


nav ul ul {
    display: none;
    position: absolute;
    top: 60px; /* the height of the main nav */
}

nav ul li:hover > ul {
    display:inherit;
}

nav ul ul li {
    width:170px;
    float:none;
    display:list-item;
    position: relative;
}


/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ''; }
li > a:only-child:after { content: ''; }
#container {
    margin: 0 auto;
}