body{
    max-width: 90pc;
    margin: 0 auto;
    font-size: 1.6rem;
    scroll-behavior: smooth;
    display: block;
    line-height: 1.5;
    background-color: ghostwhite;
    font-family: 'Roboto', sans-serif;
}

/* Navbar Styling */

nav {
    max-height: 60px;
    background-color: lightgray;
}
nav img{
    margin-right: 10pc;
    max-height: 60px;
}
nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    display: inline-block;
}
nav ul li {
    display:inline-block;
    background-color: lightgray;
}
nav a {
    display:inline-block;
    padding:0 10px;
    color:#1a1a1a;
    font-size:20px;
    line-height: 60px;
    text-decoration:none;
}
nav a:hover {
    color: #00205b;
    font-weight: bold;
}
nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
}
nav ul li:hover > ul {
    display:inherit;
    margin-left: -40px;
}
nav ul ul li {
    width:170px;
    float:none;
    display:list-item;
    position: relative;
}

/* Header Styling */

Header{
    position: relative;
    text-align: center;
    color: white;
}
h1{
    font-size: 4.8rem;
    font-family: BhuTuka Expanded One, open-serif, serif;
    line-height: 0px;
}
header p{
    font-size: 1rem;
}
header img{
    width: 100%;
}
#header-text-container{
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: 30%;
    background-color: rgba(0, 32, 91, .75);
    border-bottom-right-radius: 20px;
    padding: 0px 20px 20px 20px;
}